@model NYSCFileRecord.Models.ViewModels.RolesViewModel

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Create New Role</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" asp-action="CreateRole">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Role Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" asp-for="@Model.RoleName">
                </div>
            </div>
            

        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </div><!-- /.box-footer -->
    </form>
</div><!-- /.box -->
